<!DOCTYPE html>
<html>
  <head>
    <title>PM Infinity - 10月5号</title>
    <meta name="keywords" content="PM Infinity" />
    <meta name="description" content="我和妻子及双方家人10月5号在九江恭候大家的光临。" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.v1512490252895.min.css">
    <!--STYLES END-->

    <script type="text/javascript">
      var Account = <%- typeof account =='undefined' ? '{}' : JSON.stringify(account) %>;
    </script>
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/min/production.v1512490252895.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
